<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <form action="/views/index.html" method="post">
        Nome Completo:
        <br>
        <input type="text"></input>
    </form>

    <br>
    
    <form action="/views/index.html" method="post">
        Endereço:
        <br>
        <input type="text"></input>
    </form>

    <br>

    <form action="/views/index.html" method="post">
        Telefone:
        <br>
        <input type="tel"></input>
    </form>

    <br>

    <form action="/views/index.html" method="post">
        Data de nascimento:
        <br>
        <input type="date"></input>
    </form>

    <br><br>

    <input type="submit"></input>
    
</body>
</html>